<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.dao.DDataHistoryMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.febs.system.domain.DDataHistory">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CLIENT_NAME" jdbcType="VARCHAR" property="clientName" />
    <result column="CLIENT_ID_NUM" jdbcType="VARCHAR" property="clientIdNum" />
    <result column="CLIENT_PHONE" jdbcType="VARCHAR" property="clientPhone" />
    <result column="DATA_STATUS" jdbcType="CHAR" property="dataStatus" />
    <result column="OPERATOR_ID" jdbcType="INTEGER" property="operatorId" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="DATA_SOURCE" jdbcType="VARCHAR" property="dataSource" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_OPERAT_TIME" jdbcType="TIMESTAMP" property="lastOperatTime" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cc.mrbird.febs.system.domain.DData">
    <result column="DESCRIBE" jdbcType="LONGVARCHAR" property="describe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CLIENT_NAME, CLIENT_ID_NUM, CLIENT_PHONE, DATA_STATUS, OPERATOR_ID, OPERATOR_NAME, 
    DATA_SOURCE, CREATE_TIME, LAST_OPERAT_TIME, CREATE_USER_ID
  </sql>
  <sql id="Blob_Column_List">
    `DESCRIBE`
  </sql>


  <select id="countMonth" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count (*) from d_data_history
    where OPERATOR_ID = #{userId,jdbcType=INTEGER}
    AND TO_DAYS(NOW()) - TO_DAYS(CREATE_TIME) &lt;= 30;
  </select>

  <select id="countTotal" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count (*) from d_data_history
    where OPERATOR_ID = #{userId,jdbcType=INTEGER}
  </select>

</mapper>